:root{
    --back1: aqua;
    --back2: purple;
    --color1: slategray;
    --color2: rgb(228, 78, 23);
    --color3: antiquewhite;
    --color4: black;
    --color5: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-img{
   width: 250px;
   border-radius: 50%;;
   object-fit: contain;
}
h1{
    text-align: center;
    color: gold;
    font-weight: 30px;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--color3);
    border: 2px solid transparent;
    padding: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--color2);
    padding: 0 10px;
}

.logo{
    display: flex;
    align-items: center;

}

.products{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700 bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#email-section{
    margin-top: 200px;

}
section::before{
    display:block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}
section{
    margin: 40px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--color2);
 
    
}

#submit {
    background-color: var(--color4);
    color: var(--color5);

}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}